<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Niya Infotech</title>

    <link rel="icon" type="image/png" href="~/images/favicon.png">

    <!-- Stylesheets -->
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/css/dark.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <link href="~/css/fancybox.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.min.css" rel="stylesheet" />
    <link href="~/css/meanmenu.css" rel="stylesheet" />
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/nice-select.min.css" rel="stylesheet" />
    <link href="~/css/odometer.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/remixicon.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>

    <header class="main-header-area">
        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <div class="main-responsive-nav">
                <div class="container">
                    <div class="main-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/images/logo.png" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-navbar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="footer-shape-2" href="index.html">
                            <img src="~/images/logo.png" alt="image">
                        </a>

                        <div class="collapse navbar-collapse mean-menu" >
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="About" class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "About" ? "active" : "")">About</a>
                                </li>

                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="Services" class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Services" ? "active" : "")">Services</a>
                                </li>

                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="Testimonials" class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Testimonials" ? "active" : "")">Testimonials</a>
                                </li>

                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="Contact" class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Contact" ? "active" : "")">Contact Us</a>
                                </li>
                            </ul>

                            <div class="others-options d-flex align-items-center">


                                <div class="option-item">
                                    <div class="side-menu-btn">
                                        <i class="ri-bar-chart-horizontal-line" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="option-inner">
                            <div class="others-options d-flex align-items-center">
                                <div class="option-item">
                                    <i class="search-btn ri-search-line"></i>
                                    <i class="close-btn ri-close-line"></i>
                                    <div class="search-overlay search-popup">
                                        <div class='search-box'>
                                            <form class="search-form">
                                                <input class="search-input" placeholder="Search..." type="text">

                                                <button class="search-button" type="submit">
                                                    <i class="ri-search-line"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="side-menu-btn">
                                        <i class="ri-bar-chart-horizontal-line" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
    </header>

    <!-- Sidebar Modal -->
    <div class="sidebarModal modal right fade" id="sidebarModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal"><i class="ri-close-line"></i></button>

                <div class="modal-body">
                    <a href="index.html">
                        <img src="~/images/black-logo.png" class="black-logo" alt="image">
                        @* <img src="~/images/logo.png" class="white-logo" alt="image">  *@
                    </a>
                    <div class="sidebar-content">
                        <h3>About Us</h3>
                        <p>Niya Infotech, with over 5+ years of experience, excels in secure, functional websites that boost business performance. Our expert team combines creativity and technical skill for visually appealing, highly functional sites. Offering global full-stack development, innovative design, SEO expertise, and timely solutions, we convert visitors into loyal customers. Niya Infotech is your ideal Business Partner.</p>

                        <div class="sidebar-btn">
                            <a asp-controller="Home" asp-action="Contact" class="default-btn">Let’s Talk</a>
                        </div>
                    </div>
                    <div class="sidebar-contact-info">
                        <h3>Contact Information</h3>

                        <ul class="info-list">
                            <li><i class="ri-phone-fill"></i> <a href="tel:9157791901">+91 91577 91901/02</a></li>

                            <li><i class="ri-mail-line"></i> <a href="mailto:info.niyainfotech@gmail.com"><span class="__cf_email__">info.niyainfotech@gmail.com</span></a></li>

                            <li><i class="ri-map-pin-line"></i>Office No.512, Runway Heights, 150ft Ring Road, Near Ayodhya Chowk, Rajkot - 360006</li>
                        </ul>
                    </div>
                    <ul class="sidebar-social-list">
                        <li><a href="https://www.facebook.com/people/Niya-Infotech/61561909543890/" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                        <li><a href="https://www.instagram.com/niyainfotech/?hl=en" target="_blank"><i class="ri-instagram-fill"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/niya-infotech/posts/?feedView=all" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                    </ul>
                   @*  <div class="contact-form">
                        <h3>Ready to Get Started?</h3>

                        <form id="contactForm">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" required="" data-error="Please enter your name" placeholder="Your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" required="" data-error="Please enter your email" placeholder="Your email address">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="phone_number" class="form-control" required="" data-error="Please enter your phone number" placeholder="Your phone number">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" cols="30" rows="6" required="" data-error="Please enter your message" placeholder="Write your message..."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="default-btn">Send Message<span></span></button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Modal -->


    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer-area with-black-background pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <div class="widget-logo">
                            <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="image" /></a>
                        </div>
                        <p>"Delivering excellence and innovation for your digital success."</p>

                        <ul class="widget-social">
                            <li>
                                <a href="https://www.facebook.com/people/Niya-Infotech/61561909543890" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/niyainfotech/?hl=en" target="_blank">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/niya-infotech/posts/?feedView=all" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                        <h3>Who We Are</h3>

                        <ul class="quick-links">
                            <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                            <li><a asp-controller="Home" asp-action="Services">Services</a></li>
                            @* <li><a asp-controller="Home" asp-action="Projects">Projects</a></li> *@
                            <li><a asp-controller="Home" asp-action="Testimonials">Testimonials</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                        <h3>Quick Links</h3>

                        <ul class="quick-links">
                            <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                            @* <li><a href="purchase-guide.html">Get In Touch</a></li> *@
                            <li><a asp-controller="Home" asp-action="FAQ">FAQ's</a></li>
                        </ul>
                    </div>
                </div> 
                
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget ps-5 text-white" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                        <h3 class="mb-4">Reach Us</h3>
                        <ul class="list-unstyled">
                            <li class="mb-3 d-flex align-items-center"><i class="ri-phone-fill me-2"></i><a class="text-white" href="tel:9157791901">+91 91577 91901/02</a></li>
                            <li class="mb-3 d-flex align-items-center"><i class="ri-mail-line me-2"></i><a class="text-white" href="mailto:info.niyainfotech@gmail.com"><span class="__cf_email__">info.niyainfotech@gmail.com</span></a></li>
                            <li class="d-flex align-items-top"><i class="ri-map-pin-line me-2"></i>Office No.512, Runway Heights, 150ft Ring Road, Near Ayodhya Chowk, Rajkot - 360006</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="container">
                <div class="copyright-area-content">
                    <p>
                       <strong>Niya Infotech</strong> All Rights Reserved by <a href="https://niyainfotech.com/" target="_blank"> Niya Infotech</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-shape-1">
            <img src="~/images/footer/footer-shape-1.png" />
        </div>
        <div class="footer-shape-2">
            <img src="~/images/footer/footer-shape-2.png" />
        </div>
        <div class="footer-shape-3">
            <img src="~/images/footer/footer-shape-3.png" />
        </div>
    </footer>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.meanmenu.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/fancybox.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/jquery.appear.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/odometer.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/scrollmagic.min.js"></script>
    <script src="~/js/tilt.jquery.min.js"></script>
    <script src="~/js/tweenmax.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/debug.addindicators.min.js"></script>
    <script src="~/js/animation.gsap.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
